body {
  color: #ffffff;
  background-color: #7b1e1e;
  font-family: sans-serif;
  margin: 30px;
  overflow-x: hidden;
}
#inicial {
  background-size: cover;
  background-position: center;
  padding: 30px;
  color: #190335;
  font-size: 18px;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#ima {
  width: 100%;
  height: 90%;
}
#im {
  width: 50%;
  height: 40%;
}
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
}
.navbar {
  display: flex;
  background-color: #1e2b4f;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 15px;
  border-radius: 1px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding: 0;
  color: #ffff;
}
ul a {
  text-decoration: none;
  color: #ffffff;
}
#container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #1e2b4f;
  height: 600px;
  width: 100%;
  background-color: #f5e8d5;
  font-size: 18px;
  gap: 90px;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  width: 500px;
  height: 20px;
  text-align: center;
}
img {
  width: 100px;
}
#butao_zap {
  text-decoration: none;
  color: #ffffff;
}
.icone {
  width: 20px;
}
#termo {
  background: #f5e8d5;
  color: #1e2b4f;
  text-align: center;
  padding: 16.5px;
}
#termos {
  color: #1e2b4f;
  text-align: center;
}
@media (max-width: 450px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: #1e2b4f;
    border-radius: 20px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 60%;
    padding: 10px;
    z-index: 10;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
    text-align: right;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    color: white;
  }

  #im {
    width: 90%;
    height: auto;
  }

  /* CORREÇÃO: container flexível */
  #container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 30px;
    padding: 20px;
    width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
  }

  img {
    width: 80px;
  }

  #termo {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background: #f5e8d5;
    color: #1e2b4f;
    text-align: center;
  }

  #termos {
    padding: 0;
    margin: 0;
  }

  #termos li {
    margin-bottom: 20px;
    width: 80px;
  }

  #termo p {
    font-size: 16px;
    line-height: 1.5;
  }
}
